{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
    <!--
    <link type="text/css" href="{{ STATIC_URL }}requery/css/codemirror.css" />
    <link type="text/css" href="{{ STATIC_URL }}requery/css/neat.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}requery/js/codemirror.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}requery/js/mysql.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}requery/js/config.js"></script>

    <style type="text/css">
        .CodeMirror-scroll {
            height: auto;
            overflow-y: hidden;
            overflow-x: auto;
        }
    </style>
    -->
    <script type="text/javascript" src="{{ STATIC_URL }}requery/ace.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}requery/theme-textmate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}requery/mode-sql.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}requery/config.js"></script>
    <style type="text/css">
        #syntax_text {
            width: 100%;
            height: 400px;
            display: block;
            position: relative;
        }
        #id_text {
            display: none;
        }
    </style>

{% endblock %}
